
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f8;
}



/* LAYOUT BELOW NAVBAR */
.layout {
  display: flex;
  height: calc(100vh - 60px);
}



/* MAIN CONTENT */
.content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

/* DASHBOARD */
.page-title {
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 90px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.amount {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

